body
{
	margin: 0;
}

.container
{
	background-color: white;
	margin-right: auto;
	margin-left: auto;
}

.navigation
{
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo
{
    width: 70px;
    padding-top: 40px;
    z-index: 2;
    border-radius: 30px;
}
.main_title
{
	background: url("../images/background.jpg") no-repeat;
    width: 100%;
    height: 90%;
	position: absolute;
	border-bottom-right-radius: 150px;
}

.element_navigation
{
	margin: 0 30px 0 30px;
	font: 12px Open Sans, Sans-serif;
	text-decoration: none;
	color: #000;
	display: block;
    box-sizing: border-box;
}

.element_navigation:hover
{
	border-bottom: solid;
	border-bottom-height: 5px;
	color: #DC143C;
}

.language
{
    margin-right: 30px;
    background-color: white;
    border-radius: 25px;
    height: 33px;
    text-decoration: none;
    border-color: white;
    font: 12px Open Sans, Sans-serif;
}

.language:hover
{
	border-color: #DC143C;
	cursor: pointer;
}

.entry
{ 
	font: 12px Open Sans, Sans-serif;
	background-color: #DC143C;
    border-radius: 10px;
    width: 90px;
    height: 25px;
    border-color: #DC143C;
    text-decoration: none;
}

.entry:hover
{
	cursor: pointer;
}

.entry_link
{
	text-decoration: none;
	color: #000;
}

.color_text
{
	color: #DC143C;
}

h1
{
	color: white;
	text-align: center;
	position: relative;
	top: 15%;
	width: 50%;
	font: 700 42px Open Sans, Sans-serif;
	margin-bottom: 10px;
}

.menu_text
{
	text-align: left;
	position: relative;
	top: 15%;
	width: 40%;
	font: 16px Open Sans, Sans-serif;
	margin-left: 90px;
	margin-top: 0;
}

.menu
{
	display: flex;
	top: 80%;
}

.menu_element
{
	background: url("../images/menu_element_first") no-repeat;
}
